 * {
<!--     border: 1px solid black; -->
} 

html {
	min-height: 100%;
}

.container-fluid {
	min-height: 100%;
	overflow-y: scroll;
}

body {
	min-height: 100%;
}

#header-row {
	min-height: 20%;
	height: 20%;
}

#header {
	background-color: #205487;
}

#header h1, #header h4, #header h3, #header p {
	color: white;
}

.points p {
	font-size: 2em;
	border: solid 1px white;
}

.points, .content {
	text-align: center;
}

.content {
	border: 2px solid black;
}

.btn {
	margin: 0;
	padding: 0;
}

.button {
	padding: 0;
}

#main-content {
	min-height: 80%;
	height: 80%;
}

iframe {
	margin: auto;
	overflow: hidden;
	border: none;
}

.featured {
	padding: 0;
	text-align: center;
}

.btn-info {
	text-align: center;
}

.rewards {
	text-align: center;
}